*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100;
    display: flex;
    background-color: #FAEAB1;
    align-items: center;
    justify-content: center;
}


.container {
    height: 400px;
    width: 400px;
    max-width: 100%;
}

.title {
    text-align: center;
}

.card {
    margin-top: 30px
}

h1 {
    text-decoration: underline;
}